# <span style="color:darkblue"> Lecture 16 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [7]:
import numpy as np
import pandas as pd

In [8]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review Dataset Operations </span>

<font size = "5">

See attached file for a refresher on syntax

```[] ``` $\qquad \qquad \qquad \quad$: Extracting columns <br>
```.query() ``` $\qquad \qquad $: Subsetting rows <br>
```.recode() ``` $ \qquad \quad \ \ $: Replacing values <br>
```.groupby().agg() ```: Aggregate statistics by subgroup <br>
```.rename() ``` $\qquad \quad \ \ $: Change name of columns

Full list:

<font size = "4">

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

# <span style="color:darkblue"> III. Examples of Chaining </span>

<font size = "5">

The operations with "." are read left to right

- Combine any of the above operations
- Great way to make code efficient
- The sky's the limit!


Subsetting **before** extracting columns

In [9]:
# Get data for drivers that scored more than 20 points on individual races
# Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

       driverId  points
20320         4    25.0
20344        18    25.0
20368        20    25.0
20392        18    25.0
20416        17    25.0
...         ...     ...
25740       830    25.0
25760       830    25.0
25780       830    25.0
25800       847    26.0
25820       830    25.0

[262 rows x 2 columns]

<font size = "5">

Subsetting **before** aggregating

In [10]:
# This obtains a subset of drivers who competed in races 500 onwards
# then computes the average by team ("constructorId")

(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

               mean_points
constructorId
1                 3.148148
3                 1.904924
4                 1.903226
5                 1.203911
6                 4.910966
...                    ...
209               0.012821
210               0.809028
211               3.723684
213               2.327869
214               3.693182

[176 rows x 1 columns]

<font size = "5">

Subsetting **after** aggregating

In [11]:
# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10

(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

               mean_points
constructorId
131              12.363643

<font size = "5">

Chaining inside queries + NaNs

In [12]:
# "is.na()" produces a True/False vector, checking for missing values
# "is.notna()" produces a True/False vector, checking for non-missing values
# .str.isnumeric()
results["points"].isna()
results["points"].notna()

subset_nas    = results.query('points.isna()')
subset_nonnas = results.query('points.notna()')

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)


<font size = "5">

(a) Replace the values of a column

- Obtain unique string values of a column
- Use the ".replace()" command

Hint: See Lecture 13

In [17]:
circuits = pd.read_csv("data_raw/circuits.csv")
subset      = circuits.query("alt.str.isnumeric() == False")
list_unique = pd.unique(subset["alt"])
list_old = ['\\N','-7']
list_new = [np.nan,-7]
circuits["alt"] = circuits["alt"].replace(list_old, list_new)

# subset = results.query("milliseconds.str.isnumeric() = False"
# list_unique = pd.unique(subset["milliseconds"])
# print(list_unique)
#list_old = ['\\N']
#list_new = [np.nan]
# results["milliseconds"] = results["milliseconds"].replace(list_old, list_new)

<font size = "5">

(b) Recode a numeric column

- Use the "pd.cut()" command to create <br>
a new column based on an interval.
- See Lecture 14 for more details

In [21]:
students = pd.read_csv("/Users/connorlee/Downloads/Assignment 7/data_raw/students.csv")

bins = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]
students["lettergrade"] = pd.cut(students["numericgrade"], 
                                 bins = bins, 
                                 right = True,
                                 labels = labels)
display(students)
results = pd.read_csv("Data_raw/results.csv")

    studentid  numericgrade lettergrade
0           1            61          C-
1           2             0         NaN
2           3            14           F
3           4            57           D
4           5            72          C+
5           6            93           A
6           7            40           F
7           8            11           F
8           9             3           F
9          10            63          C-
10         11             7           F
11         12            46           F
12         13            75          B-
13         14            95           A
14         15            22           F
15         16            40           F
16         17            53           F
17         18            57           D
18         19            82           B
19         20            50           F
20         21             8           F
21         22            87          A-
22         23            82           B
23         24            30           F
24         25            62          C-

<font size = "5">

(c) Aggregate and query

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .query() ``` <br>
``` .groupby().agg() ``` <br>

In [23]:

results_agg = (results.query("raceId >= 200")
                      .groupby(["constructorId"])
                      .agg(mean_laps = ('laps', 'mean'), 
                            sd_laps = ('laps', 'std'),
                            min_laps = ('laps', 'min'),
                            max_laps = ('laps', 'max'),
                            count_obs = ('labs', len)))

<font size = "5">

(d) Aggregate and sort

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .groupby().agg() ``` <br>
``` .sort_values() ```

In [31]:
constructor_agg = (results.groupby("constructorId")
                          .agg(mean_points = ("points","mean"))
                          .sort_values("mean_points",ascending = False))

<font size = "5">

(e) Rename column

- Create a dictionary
- Rename one or more columns in a dataset <br>
using the dictionary

In [30]:
results_raw  = pd.read_csv("data_raw/results.csv")
races_raw    = pd.read_csv("data_raw/races.csv")
circuits_raw = pd.read_csv("data_raw/circuits.csv")

unique_data_races    = pd.unique(races_raw["name"].sort_values())
unique_data_circuits = pd.unique(circuits_raw["name"].sort_values())

car_dictionary = {"car_model": ["Ferrari","Tesla","BMW"],
                  "year":      ["2018","2023","2022"] }

pd.DataFrame(car_dictionary)

dict_rename_circuits = {"name": "circuit_name"}
circuits = circuits_raw.rename(columns = dict_rename_circuits)

<font size = "5">

(f) Merge dataset

- Use "pd.merge" to combine two datasets: <br>
a primary and secondary
- Only merge a subset of the columns of the <br>
secondary dataset
- Use "display" to show a the merged dataset,  <br>
extracting a subset of the columns

In [29]:
races_merge = pd.merge(races_raw,
                       circuits[["circuitId","circuit_name"]],
                       on = "circuitId",
                       how = "left")
races_merge[["raceId", "circuitId", "circuit_name"]].sort_values(by = "circuit_name")
display(races_merge)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,circuit_name
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Albert Park Grand Prix Circuit
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Sepang International Circuit
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Shanghai International Circuit
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Bahrain International Circuit
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,Circuit de Barcelona-Catalunya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00,Circuit of the Americas
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N,Autódromo Hermanos Rodríguez
1099,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00,Autódromo José Carlos Pace
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N,Las Vegas Strip Street Circuit
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N,Yas Marina Circuit

In [ ]:
#part a
#driver = pd.read_csv("data_raw/driver_standings.csv")

#list_old = ['D']
#list_new = [26]

#driver["positionText"] = driver["positionText"].replace(list_old, list_new)

#driver["positionNumeric"] = pd.to_numeric(driver["positionText"])


#part b

#seasons = pd.read_csv("data_raw/seasons.csv")

#bins_years = [1950, 1971, 1991, 2006, 2021, 2024]
#labels_years = ["1950-1970", "1971-1990", "1991-2005", "2006-2020", "2021-onwards"]

#seasons["year_brackets"] = pd.cut(seasons["year"],
                              #bins = bins_years,
                              #right = False,
                              #labels = labels_years)

#part c

#driver = pd.read_csv("data_raw/driver_standings.csv")

#driver_standings_agg = (driver.query("raceId >= 99")
                              #.groupby(["driverId"])
                              #.agg(mean_points = ('points', 'mean'))
                              #.query("mean_points >= 40"))

#part d

#driver = pd.read_csv("data_raw/driver_standings.csv")

#driver_standings_sort = (driver.groupby("driverId")
                              #.agg(mean_points = ("points","mean"))
                              #.sort_values("mean_points", ascending = False))

#part e
#driver = pd.read_csv("data_raw/driver_standings.csv")

#dict_rename_driver = {"points": "points_driver"}
#driver = driver.rename(columns = dict_rename_driver)

#part f
#driver_standings = pd.read_csv("data_raw/driver_standings.csv")
#drivers          = pd.read_csv("data_raw/drivers.csv")

#driver_merge = pd.merge(driver_standings,
 #                      drivers[["driverId"]],
  #                     on = "driverId",
   #                    how = "left")